.btn--primary {
  background-color: rgb(226, 226, 226);
  width: 125px;
  height: 100px;
  border: 1px solid rgb(180, 180, 180);
}

.btn--sec {
  background-color: rgb(245, 154, 51);
  border: 1px solid rgb(180, 180, 180);
  width: 125px;
  height: 100px;
}

.btn--zero {
  width: 250px;
  height: 100px;
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(180, 180, 180);
}
