.HeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;

  .HeaderLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 50%;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: #000;
    }
  }

  .HeaderNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 50%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 150px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 1.5rem;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}
